mixin menu(menu)
    div 
        h4
            a(href=`/menus/${menu.id}`)=menu.title
        p=menu.description
        ul 
            each ingredient in menu.ingredients
                li=ingredient
        small=menu.createdAt
        hr 