doctype html
html(lang="ko")
    head
        title #{pageTitle} | AR-Dish
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle
            nav
                ul
                    li
                        a(href="/menus/upload") Upload AR-Menu
        main
            block content
    include partials/footer