extends base


block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Name", name="name", type="text", required)
        input(placeholder="Lastname", name="lastname", type="text", required)
        input(placeholder="Email(로그인시 ID로 사용)", name="email", type="email", required)
        input(placeholder="Password", name="password", type="password", required)
        input(placeholder="Confirm Password", name="password2", type="password", required)
        input(type="submit", value="Join")
    hr
    div
        span 이미 AR-DISH 회원이신가요?
        a(href="/login") 지금 로그인하기 &rarr;